<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <em>Living To-Do List</em> is all about managing everything you want to do with your life.
  <br>
  From one off tasks to reoccuring reminders, we've got a system to keep you on top of it.
  <br>
  We'll even help you stay on top of birthdays, and help you keep in touch with friends.
</p>