<footer class="footer">
  <small>
    The <a href="http://www.heroku.com/">Living To-Do List</a>
    by <a href="https://www.linkedin.com/in/alexmlee1">Alex Lee</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", news_path %></li>
    </ul>
  </nav>
</footer>